.gpt3__header {
    display: flex;
    align-items: center;
}

.gpt3__header-content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;

    margin-right: 5rem;
}

.gpt3__header-content h1 {
    font-family: var(--font-family);
    font-weight: 800;
    font-size: 62px;
    line-height: 75px;
    letter-spacing: -0.04em;
}

.gpt3__header-content p {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;

    color: var(--color-text);
    margin-top: 1.5rem
}

.gpt3__header-content__input { 
    width: 100%;
    margin: 2rem 0 1rem;
    display: flex;
}

.gpt3__header-content__input input {
    flex: 2;
    width: 100%;
    min-height: 50px;
    background: var(--color-footer);
    border-radius: 5px 0px 0px 5px;
    border: none;  
    padding: 24px 32px 22px; 
    border: 2px solid var(--color-footer); 
    outline: none;
    color: #ffffff;
    font-family: var(--font-family);
    font-size: 20px;
    line-height: 27px;
}

.gpt3__header-content__input button {
    flex: 0.6;
    width: 100%;
    min-height: 50px;
    min-width: 110px;
    background: #FF4820;
    border-radius: 0px 5px 5px 0px;
    transform: matrix(1, 0, 0, 1, 0, 0);
    font-family: var(--font-family);
    font-weight: bold;
    font-size: 20px;
    line-height: 27px;
    color: #ffffff;
    border: none;
    cursor: pointer;
    outline: none;
}

.gpt3__header-content__people {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 2rem;
}

.gpt3__header-content__people img {
    margin-right: 13.58px;
    width: 181.79px;
    height: 38px;
}

.gpt3__header-content__people p {
    margin-top: 0px;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 12px;
    line-height: 38px;
    color: #FFFFFF;
    text-align: center;
}

.gpt3__header-image {
    flex: 1;
    min-width: 520px;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gpt3__header-image img {
    width: 100%;
    min-height: 520px;
}

@media screen and (max-width: 1050px) {
    .gpt3__header {
        flex-direction: column;
    }
    
    .gpt3__header-content {
        margin: 0 0 3rem;
    }
}

@media screen and (max-width: 650px) {
    .gpt3__header h1 {
        font-size: 48px;
        line-height: 60px;
    }

    .gpt3__header p {
        font-size: 16px;
        line-height: 24px;
    }

    .gpt3__header-content__people {
        flex-direction: column;
    }

    .gpt3__header-content__input
    input, .gpt3__header-content__input button {
        font-size: 16px;
        line-height: 24px;
    }

    .gpt3__header-image img {
        min-height: unset;
    }
}

@media screen and (max-width: 490px) {
    .gpt3__header h1 {
        font-size: 36px;
        line-height: 45px;
    }

    .gpt3__header p {
        font-size: 14px;
        line-height: 24px;
    }

    .gpt3__header-content__people {
        flex-direction: column;
    }

    .gpt3__header-content__input
    input, .gpt3__header-content__input button {
        font-size: 12px;
        line-height: 16px; 
    }
}